    body
    {
        padding:0;
        margin:0;
    }
    nav
    {
        position:fixed;
        top:0;
        left:0;
        z-index:10;
        font-weight:bold;
        background-color:white;
    }
    ul
    {
        list-style-type:none;
    }
    .page
    {
        position:absolute;
        top:0;
        right:0;
        color:white;
        width:100%;
        height:100%;
        background-color:green;
    }
/*    .purple
    {
        background-color:purple;
    }
    .orange
    {
        background-color:orange;
    }
    .magenta
    {
        background-color:magenta;
    }
    .page>div
    {
        position:absolute;
    }
*/
    .active
    {
        z-index:1;
        animation-name:anime1;
        animation-duration:1s;
        -ms-animation-name:anime1;
        -ms-animation-duration:1s;
        -moz-animation-name:anime1;
        -moz-animation-duration:1s;
        -webkit-animation-name:anime1;
        -webkit-animation-duration:1s;
    }
    iframe
    {
        margin-top:3em;
    }
@media screen and (min-width:960px)
{
    nav
    {
        width:300px;
        height:100vh;
    }
    nav:after
    {
        content:"";
        display:block;
        position:fixed;
        top:0;
        left:300px;
        z-index:10;
        width:0; 
        height:0;
        border:100px solid transparent;
        border-left:solid 50px white;
        border-top:solid 50vh transparent;
        border-bottom:solid 50vh transparent;
    }
    nav > ul
    {
        position:fixed;
        top:33%;
    }
    nav li:hover
    {
        background-color:rgba(0,0,0,0.3);
    }
    li{
        line-height:2em;
        cursor:pointer;
    }
/*
    div[class~="cyan"][class~="active"],div[class~="yellow"][class~="active"]
    {
        min-height:calc(1000px + 10vh);
    }
    div[class~="green"][class~="active"]
    {
        min-height:calc(1200px + 20vh);
    }
    div[class~="magenta"][class~="active"]
    {
        min-height:calc(560px + 30vh);
    }
    div[class~="orange"][class~="active"]
    {
        min-height:calc(455px + 33vh);
    }
*/
    .main_page
    {
        position:relative;
        top:30vh;
        left:33%;

    }
    .prof_page
    {
        position:relative;
        top:30vh;
        left:33%;
        line-height:2em;
    }
    .work_page
    {
        position:relative;
        top:30vh;
        left:36%;
        line-height:2em;
    }
    .work_title
    {
        cursor:pointer;
    }
    .oke_page,.block_page
    {
        position:relative;
        top:5vh;
        left:36%;
    }
    .oke_img,.block_img
    {
        width:50vw;
        margin-left:8vw;
    }
    .oke_img>img,.block_img>img
    {
        max-width:400px;
    }
    .kamatte_page
    {
        position:relative;
        top:20vh;
        left:36%;
    }
    .kamatte_img>img{
        max-width:800px;
    }
    @keyframes anime1
    {
        0%{width:0;};
        100%{width:100%;};
    }
}
@media screen and (max-width:959px)
{
    nav{
        width:100%;
    }
    ul
    {
        text-align:center;
        padding:0;
    }
    nav>ul>li
    {
        width:50%;
        float:left;
        height:50px;
        line-height:2em;
    }
    nav>ul>ul
    {
        display:none;
    }
    .nav_prof
    {
        border-right:solid 2px black;
    }
    .main_page
    {
        top:33vh;
        left:0%;

    }
    .prof_page
    {
        top:18vh;
        left:0%;
    }
    .prof_page ul
    {
        text-align:left;
        line-height:15vh;
    }
    .work_page
    {
        top:25%;
        left:0%;
        line-height:2em;
    }
    .oke_page,.block_page
    {
        top:15vh;
    }
    .oke_img,.block_img
    {
        position:relative;
        width:60vw;
        left:16vw;
    }
    .block_img
    {
        width:50vw;
    }
    .kamatte_page
    {
        top:15vh;
    }
    .kamatte_img{
        position:relative;
        width:100vw;
    }
    @keyframes anime1
    {
        0%{transform:translateY(-100%);};
        100%{transform:translate(0);};
    }
/*
    div[class~="cyan"][class~="active"],div[class~="yellow"][class~="active"]
    {
        min-height:150vw;
    }
    div[class~="green"][class~="active"]
    {
        min-height:1250px;
    }
    div[class~="magenta"][class~="active"]
    {
        min-height:50vw;
    }
    div[class~="orange"][class~="active"]
    {
        min-height:50vw;
    }
*/
